{% extends "base.html" %}

{% block content %}

<table class="uk-table">
 <caption>
	<a href="{% url "member_new" %}" class="uk-button uk-button-primary">Add Member</a>
 </caption>
<thead>
    <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Birthdate</th>
    <th>Profil</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for member in object_list %}
    <tr>
    <td>{{ member.firstname }}</td>
    <td>{{ member.lastname }}</td>
    <td>{{ member.birthday }}.{{ member.birthmonth }}.{{ member.birthyear }}</td>
    <td><a href="{% url "member_view" member.id %}". uk-icon="user"></a></td>
    <td><a href="{% url "member_edit" member.id %}" uk-icon="file-edit"></a></td>
    <td><a href="{% url "member_delete" member.id %}" uk-icon="trash"></a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
