{% extends "base.html" %}

{% block content %}

<form method="post" class="uk-form-stacked">
<fieldset class="uk-fieldset">
<legend>Edit Member</legend>
     {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save Member" />
</fieldset>
</form>

{% endblock %}

