{% extends "base.html" %}

{% block content %}

<h1>Profil</h1>

<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{object.firstname}}  {{object.lastname}}</h3>
                <p class="uk-text-meta uk-margin-remove-top"><time>{{ member.birthday }}.{{ member.birthmonth }}.{{ member.birthyear }}</time></p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="uk-card-footer">
        <a href="#" class="uk-button uk-button-text">Back</a>
    </div>
</div>



{% endblock %}
