{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
 <title>CRUD app</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style type="text/css"></style> 
</head>
<body>
<div class="container-fluid">
 <div class="row">
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
  <div  class="col-md-10 col-xs-10 col-sm-10 ">
  <br/>
   <h6 style="text-align:center;"><font color="red"> All fields are required</font> </h6>
  </div>
  <div class="col-md-1 col-xs-1 col-sm-1">
  </div>
 </div>
 <div class="row">
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
  <div class="col-md-10 col-xs-10 col-sm-10">
   <form method="post" novalidate>
     {% csrf_token %}
{% for hidden_field in form.hidden_fields %}
       {{ hidden_field }}
     {% endfor %}
{% for field in form.visible_fields %}
       <div class="form-group">
         {{ field.label_tag }}
         {% render_field field class="form-control" %}
         {% if field.help_text %}
           <small class="form-text text-muted">{{ field.help_text }}</small>
         {% endif %}
       </div>
     {% endfor %}
<button type="submit" class="btn btn-primary">Submit</button>
   </form>
   <br>
  </div>
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
 </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
