{% extends 'Crud/base.html' %}
{% block content %}
<div class="uk-cover-container">
    <canvas width="" height=""></canvas>
    <ul>
        {% for post in object_list %}
          <h2>{{ post.title }}</h2>
          <img src="{{ post.cover.url}}" alt="{{ post.title }}" uk-cover>
        {% endfor %}
      </ul>
</div>
<div class="uk-grid-large uk-margin uk-margin-small-left uk-margin-medium-right">
<h1 class="uk-heading-medium">Hera</h1>
<span class=".uk-text-primary">The interactive Family Tree</span>
<br><br>
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Gallery</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Family Tree</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Database</div>
    </div>
</div>
</div>
{% endblock %}