{% extends 'Crud/base.html' %}
{% block content %}


<div uk-grid>
  <div></div>
  <div class=".uk-grid-column-medium">
    <h1 class=".uk-heading-large">Family Member</h1>
  </div>
</div>

<div uk-grid>
  <div class=".uk-grid-column-medium"></div>
  <div class=".uk-grid-column-medium">
    <a href="{% url 'post' %}" uk-icon="plus"></a>


  </div>
  <div class=".uk-grid-column-medium">
    {% for post in post_list %}
    <ul class="uk-list uk-list-striped">
      <li>
        <a href="{% url 'detail' post.pk %}">{{ post.firstname }}</a>  <span class="badge"></span>
        <a href="{% url 'detail' post.pk %}" uk-icon="thumbnails"></a>
        <a href="{% url 'edit' post.pk %}" uk-icon="pencil"></a>
        <a href="{% url 'delete' post.pk %}" uk-icon="trash"></a>
      </li> 
  </ul>
  {% endfor %}
  </div>
</div>
{% endblock %}