{% extends 'Crud/base.html' %}
{% block content %}
{% load widget_tweaks %}

    <span class="uk-label uk-label-danger">All fields are required</span>

<div class="uk-grid">

    <form method="post" novalidate>
      <fieldset class="uk-fieldset">
          {% csrf_token %}
      {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
      {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}
              {% render_field field class="uk-textarea" %}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}
      <button type="submit" class="btn btn-primary">Add</button>
      </fieldset>
    </form>

  </div>
</div>

{% endblock %}

